button {
  padding: 5px;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  background: deepskyblue;
  cursor: pointer;
  margin-bottom: 20px;
}
